body{
    background-image:url(https://clairemca.files.wordpress.com/2016/03/sunset.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.grid{
    width:240px;
    height:200px; 
    margin:10px; 
    margin-left: 70px;
    float:left; 
    text-align: center;
    font-family: arial;
    font-size: 14.5px;
}

.front{
    position:absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    background: linear-gradient(to right, rgba(255,234,0,1) 0%, rgba(255,0,132,1) 100%);
    width:240px;
    height:400px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s; 
    font-size: 40px;
    color: white;
} 

.back{
    position:absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    background:white;
    width:240px;
    height:400px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s; 
} 

.grid:hover > .front{
    transform: perspective( 600px ) rotateY( -180deg );
} 

.grid:hover > .back{
    transform: perspective( 600px ) rotateY( 0deg );
}
#header{
    height: 130px;
    background-color: rgba(149, 162, 188, 0.5);
    color: white;
    font-size: 100px;
    text-align: center;
}
img{
    border-radius: 50px;
    margin:10px;
}
.button{
    margin-top: 450px;
    margin-left:40px;
    text-align:center;
}
.btn{
    border: 1px solid white;
    padding:10px 30px;
    color:white;
    text-decoration: none;
    margin:5px;
    font-size:18px;
    text-transform: uppercase;
    letter-spacing:2px;
    border-radius:25px;
    background: linear-gradient(to right, rgba(224,156,54,1) 0%, rgba(255,0,132,0.65) 100%);
}
.mainheading{
    color: white;
    text-align: center;
    font-size: 60px;
}
.details{
    color: white;
    text-align: center;
    font-size: 25px;
    background-color: rgba(149, 162, 188,0.5);
    margin-left:350px;
    margin-right:350px;
}
.btnBack{
    color: white;
}

#pic{
    border-radius: 200px;
    margin-bottom: 30px;
    margin-left: 600px;
}
.nav{
    height:100px;
    max-width: 100%;
    background-color: rgba(0,0,0,0.5);
    margin:auto;
    
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 20px;
    
}
.main-nav li{
    display: inline-block;
    margin:10px 5px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing:2px;
    border-bottom: 1px solid white;
}
.main-nav .active a {
    border: 1px solid white;
}
.main-nav li a:hover {
    border:1px solid white;
}