*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url(cliff.jpg);
    z-index: 1;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav{
    height:100px;
    max-width: 100%;
    background-color: rgba(0,0,0,0.5);
    margin:auto;
    
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 20px;
    
}
.main-nav li{
    display: inline-block;
    margin:10px 5px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing:2px;
    border-bottom: 1px solid white;
}
.main-nav .active a {
    border: 1px solid white;
}
.main-nav li a:hover {
    border:1px solid white;
}
h1{
    position:relative;
    text-align:center;
    font-family:Snell Roundhand, cursive;
    color:black;
    text-transform: uppercase;
    font-size: 60px ;
    top:280px;
}
img{
    border-radius: 200px;
    height: 300px;
    width: 300px;
    white-space: nowrap;
    z-index: 7;
    
}
#box1{
    height: 250px;
    width: 220px;
    float: left;
    margin-left: 90px;
    margin-top: 90px;
}
#box2{
    height: 250px;
    width: 220px;
    float: left;
    margin-left: 90px;
    margin-top: 90px;
}
#box3{
    height: 250px;
    width: 220px;
    float: right;
    margin-right: 90px;
    margin-top: 90px;
}
#box4{
    height: 250px;
    width: 220px;
    float: right;
    margin-right: 90px;
    margin-top: 90px;
}
p{
    text-align: center;
}
.aboutaws{
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.heading{
    font-size: 60px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}